body {
  font-family: sans-serif, arial;
}

h1 {
  color: red;
  text-shadow: 2px 2px black;
}

img {
  width: 500px;
  height: 300px;
  border-radius: 15px 50px;
}

a {
  color: red
}

a:hover{
  background-color: black;
  color: white;
}

.album {
  font-style: italic;
}

.list {
  font-size: 10pt;
  line-height: 1.5;
}