body {
  font-family: sans-serif, arial;
}

h1 {
  color: red;
  text-shadow: 2px 2px black;
}

a {
  color: red
}

.main {
  width: 70%;
  float: right;
}

.main-photo img {
  max-width: 100%;
  height: auto;
  border: 2px solid red;
  border-radius: 8px 25px;
}

a:hover{
  background-color: black;
  color: white;
}

.sidebar {
  max-width: 30%;
  float: left;
}

.sidebar-photo img {
  align: center;
  max-width: 25%;
  max-height: auto;
}
.sidebar-text ul {
  margin: 12px;
  border: 2px solid red;
  border-radius: 10px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  padding: 4px;
  background-color: white;
}

.album {
  font-style: italic;
}

.list {
  font-size: 10pt;
  line-height: 1.5;
}
