body {
  font-family: sans-serif, arial;
}

h1 {
  color: red;
  text-shadow: 2px 2px black;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 15px 50px;
}

a {
  color: red
}

a:hover{
  background-color: black;
  color: white;
}

.sidebar {
  width: 300px;
  float: left;
}
.main {
  width: 70%;
  float: right;
}

.album {
  font-style: italic;
}

.list {
  font-size: 10pt;
  line-height: 1.5;
}